aiohappyeyeballs
aiohttp
aiosignal
attrs
blinker==1.8.2
click==8.1.7
Flask==3.0.3
frozenlist
idna
ifcopenshell==0.8.0
isodate==0.6.1
itsdangerous==2.2.0
Jinja2==3.1.4
lark==1.2.2
loguru
MarkupSafe==2.1.5
msgpack
multidict
numpy==2.1.1
pyparsing
python-dateutil==2.9.0.post0
setuptools==72.1.0
shapely==2.0.6
six
svgwrite
typing_extensions==4.12.2
vtk==9.3.0
Werkzeug==3.0.4
wheel==0.43.0
wslink
yarl
